.container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem /* 24px */;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.skeleton {
  padding: 1rem /* 16px */;
  border-radius: 1rem /* 16px */;
  background-color: rgb(24 24 27 / 0.8);
}

.skeleton-img,
.skeleton-btn,
.skeleton-line-one,
.skeleton-line-two {
  border-radius: 0.5rem /* 8px */;
}

.skeleton-img {
  height: 3.5rem /* 56px */;
  background-color: rgb(63 63 70 / 1);
}

.skeleton-btn,
.skeleton-line-one,
.skeleton-line-two {
  margin-top: 0.75rem /* 12px */;
  height: 0.75rem /* 12px */;
}

.skeleton-btn {
  background-color: rgb(245 166 35 / 1);
  width: 25%;
}

.skeleton-line-one,
.skeleton-line-two {
  background-color: rgb(63 63 70 / 1);
}

.skeleton-line-one {
  width: 91.666667%;
}

.skeleton-line-two {
  width: 66.666667%;
}
.token-logo__image {
  height: 20px;
  border-radius: 50%;
}
.dark-tb {
  background-color: #142028;
}
.dash-key-td {
  color: white;
}
.dash-sm-tr:hover {
  background-color: #262c43;
}

.p-color-right {
  font-size: 14px;
  color: #fff;
}

.p-color-left {
  font-size: 12px;
  color: #818ea3;
}

.p-currency {
  font-size: 13px;
  color: #17c671!important;
}

.active-btn > .Mui-selected {
  color: white!important;
}
.first-id-td {
  width: 5%;
  padding: 16px ;
}
.second-avatar-td {
  width: 30px;
  padding: 16px 5px;
}
.third-tran-td {
  padding: 16px 2px;
  width: 35%;
  float: left;
}

.MuiTableCell-root > svg > path {
  background-color: green;
}
.avatar-group {
  color: white;
}
.avatar-group > div> svg {
  width: 15px !important;
}
.avatar-group > div :hover {
  cursor: pointer;
}
.lastitem {
  color: #00b8d8;
}
.percentimg {
  color: #17c671!important;
}
@media (min-width: 1024px) {
  .custom-lg-nav{
      width: 3rem !important;
  }
}